* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    outline: 0;
    /*transition: .4s ease-in-out;*/
    font-family: "Free Courier", monospace;
}

.label {
    margin: 50px 40px;
    grid-column: span 1;
    background: #d0cdc9;
    border: 3px solid #676767;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5px;
    overflow: hidden;
}

.label .select {
    color: white;
    margin-left: auto;
    height: 100%;
    background: #676767;
    cursor: pointer;
}

.button {
    height: 50px;
    width: 70%;
    grid-column: span 2;
    background: #676767;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.button:active {
    box-shadow: inset 0px 2px 5px 0px #000000;
}

.popup {
    z-index: 100;
    position: fixed;
    top: -30%;
    left: 50%;
    margin-left: -25%;
    padding: 20px;
    width: 50%;
    height: 200px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #d0cdc9;
    border-radius: 10px;
    background: white;
    box-shadow: 2px 4px 0.5rem 0.1rem #d0cdc9;
    transition: .2s ease-in-out;
    opacity: 0;
}

.popup .popup-btn {
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    min-height: 100vh;
}

.container-inner {
    border: 1px solid grey;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50% 50%;
    box-shadow: 2px 4px 0.5rem 0.1rem #d0cdc9;
}

.active {
    opacity: 1;
    top: 8%;
}

